#include<stdio.h>
int power(int n1,int n2);
int main()
{
	int b,a,r;
	printf("enter the base:");
	scanf("%d",&b);
	print("enter the power:");
	scanf("%d",&a);
	r= power(b,a);
	printf("value of %d^%d is=%d",b,a,r);
	return 0;
}
int power(int b,int a)
{
	if(a!=0)
	return(b*power(b,a-1));
	else
	return 1;
	
}
